@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf');
}

body{
    margin:0px;
}
header{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(0deg,rgb(0, 36, 0),rgb(152, 223, 155));
    text-align: center;
    color: white;
    width: auto;
    height: 200px;
    margin: 0px;
    padding: 0px;
    box-shadow: 1px 0px 1px 2px rgba(0, 0, 0, 0.637);

}
header > h1{
    padding-top: 50px;
    font-weight: bold;
    margin: 0px;
}
header > h2{
    font-size: medium;
    font-weight: lighter;
    padding-bottom: 33px;
}

nav{
    color: white;
    text-decoration: none;
    text-align: left;
}

nav >a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
}

nav a:hover{
    background-color: rgb(0, 36, 0);
    color: white;
}
body{
    background-color: rgb(62, 119, 72);
}

main{
    background-color: white;
    min-width: 320px;
    max-width: 950px;
    margin: auto;
    padding: 25px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 1px 1px 1px 2px rgba(0, 255, 0, 0.404);
}
section > h1{
    font-family: 'idroid';
    font-size: 40px;
    color: rgb(0, 36, 0);
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    background-image: linear-gradient(270deg,rgb(255, 255, 255),rgb(152, 223, 155));
}
section > h2{
    font-family: 'idroid';
    font-size: 30px;
    color: rgb(0, 36, 0);
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    background-image: linear-gradient(270deg,rgb(255, 255, 255),rgb(152, 223, 155));
}

section > p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    text-justify: initial;
    font-weight: bold;
}

iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

#extra{
    width: auto;
    background-color: rgba(60, 255, 0, 0.568);
    padding: 0px 5px 5px 5px;
    border-radius: 20px;

}

p#tituloextra{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: auto;
    margin: 0px;;
    padding: 26px;
    background-image: linear-gradient(270deg,rgb(255, 255, 255),rgb(152, 223, 155));
    border-radius: 20px 20px 0px 0px;
}

footer{
    width: auto;
    height: 50px;
    background-color: rgb(7, 46, 7);
    padding: 5px;
    text-align: center;
    color: white;
}